/*
*{
    outline: 1px dotted black;
}
*/

/*back to top button*/
#myButton {
    background-color: blue;
    bottom: 18px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 12px;
    position: fixed;
    right: 30px;
    z-index: 99;
}

#myButton:hover {
    background-color: white;
    color: blue;
}

/*navbar/header styling*/
header ul{
    
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: space-evenly;
}

/*navbar*/
ul,
li {
    margin: 0;
    padding: 0;
}

/*navbar*/
li{
    display: inline-block;
    /*font-family: 'Karla', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 10px;
}



/*hover styling for nav elements, excluding the logo element*/
#nav-element:hover {
    color: blue;
    cursor: pointer;
}

/*styling for nav elements only*/
#nav-element {
    text-align:center;
}

/*navlink highlight styling*/
#nav-element::selection{
    color: white;
    background-color: blue;
}

/*styling for logo element only*/
#logo-element {
    color: black;
    text-align: center;
    cursor: pointer;
}

/*logo highlight styling*/
#logo-element::selection {
    color: white;
    background-color: blue;
}


/*general html and body styling*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*body class- general styling format for css grid*/
body{
    display:grid;
    grid-template-rows: min-content auto min-content;
}

/*main class- general styling format for css grid*/
main {
    align-content: center;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    justify-content: center;
}

/*card class styling, for recipe cards*/
.card {
    background-color: #FCFCFC;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 13rem;
    margin: 2rem;
    padding: 10px; 
    width: 13rem;
}

/*styling for card, on-hover*/
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

/*styling for card photo*/
.card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 11rem;
    margin-right: -0.6rem;
    margin-left: -0.6rem;
    margin-top: -0.6rem;
}

/*styling for card title*/
.card-content {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

/*highlight color for recipe title cards*/
.card-content::selection {
    color: white;
    background-color: blue;
}

/*styling for footer*/
footer {
    background-color: blue;
    padding: 1.4rem;
}

/*comprehensive styling for social icons*/
.icons {
    color: white;
    font-size: 1.4rem;
    text-align:center;
}

/*individual styling for icons*/
#icon-select {
    margin-left: 1rem;
    transition: 0.1s; /*Animation*/
}

/*hover icons*/
#icon-select:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*modal styling!!*/
.backdrop {
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
    display:none;
    height: 100%;	
    left: 0;
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 1;
}

#recipe-card-modal {
    background: white;
	display:none;
    left: 18%;
	top: 100px;
    padding: 2rem;
    position: fixed;
	width: 60%;
    z-index: 1000;
}

.modal-close-button {
    cursor: pointer;
    color: blue;
    float: right;
    margin-top: -1.5rem;
    margin-right: -1.5rem;
}

/*adjusts columns from horizontal position to vertical when screen is small */
@media only screen and (max-width:600px) {
    header ul{
        grid-template-columns: none;
    }

    /*mobile- navlinks to invert color*/
    header{
        background-color: blue;
        color: white;
    }

    /*on hover- zoom in on navlinks*/
    #nav-element {
        transition: transform .2s; /* Animation */
    }

    #logo-element {
        transition: transform .2s; /* Animation */
    }

    #logo-element:hover {
        transform: scale(1.2);
    }

    /*mobile - hover to white*/
    #nav-element:hover {
        color: white;
        transform: scale(1.2); 
    }

    /*mobile - logo to invert color*/
    #logo-element {
        color: white;
    }



    /*adjust columns to 1 in mobile*/
    main {
        grid-template-columns: none;
    }
}
